#service_visual .visual_header{
    background: url("../img/service_visual.png") no-repeat center;
    background-size: cover;
}
#service_contents{
    padding: 3rem 6.2rem 7.5rem 6.2rem;
    /* 60px 124px 150px 124px; */
}
#service_contents #content_titlebox h2{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 4rem;
    /* 80px; */
    line-height: 4.15rem;
    /* 83px; */
    color: #151513;
    font-weight: 900;
    position: relative;
    text-transform: uppercase;
}
#service_contents #content_titlebox h2::after{
    content: "";
    display: block;
    position: absolute;
    width: 6.8rem;
    /* 136px; */
    height: 6.8rem;
    /* 136px; */
    background-color: #ffcd00;
    bottom: -8.25rem;
    /* -165px; */
    left: 0.4rem;
    /* 8px; */
    z-index: -1;
    transform: translate(-50%, -50%);
}
#service_contents #content_list{
    padding-top: 1.5rem;
    /* 30px; */
}
#service_contents #content_list ul li{
    width: 23.5%;
    margin-left: 2%;
    float: left;
}
#service_contents #content_list ul li:nth-child(4n+1){
    margin-left: 0;
}
#service_contents #content_list ul li:nth-child(5),
#service_contents #content_list ul li:nth-child(6),
#service_contents #content_list ul li:nth-child(7),
#service_contents #content_list ul li:nth-child(8){
    margin-top: 4rem;
    /* 80px; */
}
#service_contents #content_list ul li .content_imgbox{
    height: 0;
    padding-bottom: 125%;
    background-color: aqua;
    margin-bottom: 1rem;
    /* 20px; */
    transition: all .35s;
}
#service_contents #content_list ul li:nth-child(1) .content_imgbox{
    background: url("../img/service_imgbox_9.png") no-repeat center;
    background-size: cover;
}
#service_contents #content_list ul li:nth-child(2) .content_imgbox{
    background: url("../img/service_imgbox_1.png") no-repeat center;
    background-size: cover;
}
#service_contents #content_list ul li:nth-child(3) .content_imgbox{
    background: url("../img/service_imgbox_2.png") no-repeat center;
    background-size: cover;
}
#service_contents #content_list ul li:nth-child(4) .content_imgbox{
    background: url("../img/service_imgbox_3.png") no-repeat center;
    background-size: cover;
}
#service_contents #content_list ul li:nth-child(5) .content_imgbox{
    background: url("../img/service_imgbox_4.png") no-repeat center;
    background-size: cover;
}
#service_contents #content_list ul li:nth-child(6) .content_imgbox{
    background: url("../img/service_imgbox_5.png") no-repeat center;
    background-size: cover;
}
#service_contents #content_list ul li:nth-child(7) .content_imgbox{
    background: url("../img/service_imgbox_6.png") no-repeat center;
    background-size: cover;
}
#service_contents #content_list ul li:nth-child(8) .content_imgbox{
    background: url("../img/service_imgbox_7.png") no-repeat center;
    background-size: cover;
}
#service_contents #content_list ul li:hover .content_imgbox{
    transform: translateY(-10px);
}
#service_contents #content_list ul li .content_textbox span{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 0.7rem;
    /* 14px; */
    font-weight: 400;
    color: #ffcd00;
    line-height: 0.6rem;
    /* 12px; */
    display: block;
    padding-bottom: 0.75rem;
    /* 15px; */
}
#service_contents #content_list ul li .content_textbox h3{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 0.85rem;
    /* 17px; */
    font-weight: 700;
    color: #151513;
    line-height: 1.141rem;
    /* 22.82px; */
    padding-bottom: 1.25rem;
    /* 25px; */
}
#service_contents #content_list ul li .content_textbox p{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 0.65rem;
    /* 13px; */
    font-weight: 400;
    color: #666666;
    display: inline-block;
    position: relative;
}
#service_contents #content_list ul li .content_textbox p::after{
    content: "";
    display: block;
    width: 0.8rem;
    /* 16px; */
    height: 0.8rem;
    /* 16px; */
    background: url("../img/service_contents_linkbtn.png") no-repeat center;
    background-size: 90%;
    position: absolute;
    right: -1.3rem;
    /* -26px; */
    top: 50%;
    transform: translateY(-50%);
}
#service_nextcontent .nextcontentline_1 .nextcontent_1{
    background: url("../img/service_nextcontent_1.png") no-repeat center;
    background-size: cover;
}
#service_nextcontent .nextcontentline_2 .nextcontent_imgbox{
    background: url("../img/service_nextcontent_2.png") no-repeat center;
    background-size: cover;
}