html{font-size: 20px;}
body{font-size: 1rem;}


/* --------------------------- main.css --------------------------- */

/* 타이틀 */
.visual_titlebox{
    padding: 0 0 4rem 2rem;
}
.visual_titlebox > h2{
    font-size: 4rem;
}
[class*="content_tiltebox"] h2{
    padding: 0 0 2rem 6.25rem;
    font-size: 4rem;
}
/* 타이틀 */

/* 영역 */
.container_1{
    padding: 0 6.25rem;
}
.container_2{
    padding: 0 6.25rem;
}
[class*="content_explanationbox"]{
    padding: 2rem 0 4rem 0;
}
/* 영역 */

/* main_movementIntro */
#main_movementIntro #movementIntro_imgbox{
    padding: 4rem 2rem 6rem 2rem;
}
#main_movementIntro #movementIntro_imgbox ul{
    width: 100%;
}
#main_movementIntro #movementIntro_imgbox li{
    width: 32%;
    margin-left: 2%;
    height: 0;
    padding-bottom: 50%;
}
#main_movementIntro #movementIntro_imgbox li > a{
    height: 0;
    padding-bottom: 150%;
}
/* main_movementIntro */

/* main_brandStory */
#main_brandStory .content_textbox_explanationbox{
    padding: 0 6.25rem;
}
#main_brandStory #right_textbox{
    width: 50%;
}
#main_brandStory #brandStory_content1 #brandStory_content1_imgbox{
    padding: 20% 25%;
}
#main_brandStory #brandStory_content1 #brandStory_content1_textbox{
    padding-right: 6.25rem;
}
#main_brandStory #brandStory_content2{
    padding-top: 4rem;
}
#main_brandStory #brandStory_content2 #brandStory_content2_imgbox{
    padding-bottom: 60%;
}
#main_brandStory #brandStory_content2 #brandStory_content2_textbox p{
    width: 100%;
    padding: 1.5rem 0 4rem 0;
}
#main_brandStory #brandStory_content2 #brandStory_content2_imgbox p{
    width: 80%;
}
#main_brandStory #brandStory_content2 #brandStory_content2_imgbox span{
    font-size: 0.8rem;
}
#main_brandStory #brandStory_content3 #conten3_textbox{
    padding: 0 6.25rem 2.5rem 0;
    text-align: right;
}
/* main_brandStory */

/* main_brandMindset */
#main_brandMindset #brandMindset_content1_textbox{
    padding: 0 0 2.5rem 6.25rem;
}
/* main_brandMindset */

/* footer */
footer #footer_container #header_line1 #footerLogo{
    display: block;
    padding-bottom: 1.5rem;
}
footer #footer_container #header_line1 #footer_textbox ul{
    margin-left: -0.7rem;
}
footer #footer_container #header_line1 #footer_textbox p{
    padding: 0.8rem 0 0 0;
}
footer #footer_container #header_line1{
    position: relative;
}
footer #footer_container #header_line1 #top_btn{
    position: absolute;
    right: 0;
    top: 2.8rem;
}
/* footer */
/* --------------------------- main.css --------------------------- */

/* --------------------------- ourInspiration --------------------------- */
[class*="inspiration_text"] p{
    font-size: 3rem;
    width: 768px;
}
.intro_titlebox > h3{
    font-size: 1.45rem;
}
#inspiration_intro #inspiration_intro_imgbox{
    padding: 4rem 2rem 6rem 2rem;
}
#inspiration_intro #inspiration_intro_imgbox ul{
    width: 100%;
}
#inspiration_intro #inspiration_intro_imgbox li{
    width: 32%;
    margin-left: 2%;
    height: 0;
    padding-bottom: 32%;
}
#inspiration_intro #inspiration_intro_imgbox li > a{
    height: 0;
    padding-bottom: 100%;
}
.inspiration_imgbox{
    width: 55%;
    padding-bottom: 55%;
}
#inspiration_content_air, #inspiration_content_land, #inspiration_content_ocean{
    padding-bottom: 55%;
}
/* --------------------------- ourInspiration --------------------------- */

/* --------------------------- ourSymbol  --------------------------- */
#oursymbol_logo #oursymbol_logo_comment p#comment_textbox{
    padding: 0 6.25rem 2.5rem 0;
}
/* --------------------------- ourSymbol  --------------------------- */