#brandstory_visual{
    background: url("../img/brandStorywrap_1.gif") no-repeat center;
    background-size: cover;
}
#designstory_next{
    background: url("../img/brandStorywrap_2.gif") no-repeat center;
    background-size: cover;
}
#brandstory_contents #brandstory_content_1{
    position: relative;
}
#brandstory_contents #brandstory_content_1 #content_1_bg{
    width: 100%;
    height: 36rem;
    /* 720px; */
    background: url("../img/brandstory_content_1_bg.png") no-repeat center;
    background-size: cover;
}
#brandstory_contents #brandstory_content_1 #content_1_textbox{
    width: 26.5rem;
    /* 530px; */
    height: 24rem;
    /* 480px; */
    background-color: #fff;
    position: absolute;
    top: 6rem;
    /* 120px; */
    margin-left: 4.5rem;
    /* 90px; */
    z-index: 10;
}
#brandstory_contents #brandstory_content_1 #content_1_textbox #content_1_textbox_inner{
    padding: 5rem 4rem;
    /* 100px 80px; */
}
#brandstory_contents #brandstory_content_1 #content_1_textbox #content_1_textbox_inner h3{
    font-family: 'Noto Sans', sans-serif;
    font-size: 1rem;
    /* 20px; */
    color: #37494b;
    font-weight: 700;
    line-height: 1.25rem;
    /* 25px; */
    padding-bottom: 1.5rem;
    /* 30px; */
}
#brandstory_contents #brandstory_content_1 #content_1_textbox #content_1_textbox_inner p{
    font-family: 'Noto Sans', sans-serif;
    font-size: 0.5rem;
    /* 11px; */
    color: #666666;
    font-weight: 400;
    line-height: 0.9rem;
    /* 18px; */
}
#brandstory_contents #brandstory_content_1 #content_1_img{
    width: 54%;
    height: 22rem;
    /* 440px; */
    background:url("../img/brandstory_content_1_img.png") no-repeat center;
    background-size: cover;
    position: absolute;
    bottom: -6rem;
    /* -120px; */
    right: 0;
    margin-right: 4.5rem;
    /* 90px; */
}

#brandstory_contents #brandstory_content_2{
    padding: 6rem 4.5rem 6rem 4.5rem;
    /* 120px 90px 120px 90px; */
    background: url("../img/brandstory_content_2_bg.png") no-repeat center;
    background-size: cover;
}
#brandstory_contents #brandstory_content_2 #content_2_img{
    width: 55%;
    height: 22.5rem;
    /* 450px; */
    background:url("../img/brandstory_content_2_img.png") no-repeat center;
    background-size: cover;
    margin-right: 5%;
    margin: 6rem 0;
    /* 120px 0; */
    float: left;
}
#brandstory_contents #brandstory_content_2 #content_2_textbox{
    width: 40%;
    height: 22.5rem;
    /* 450px; */
    float: right;
    margin: 6rem 0;
    /* 120px 0; */
    position: relative;
}
#brandstory_contents #brandstory_content_2 #content_2_textbox #content_2_textbox_inner{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
#brandstory_contents #brandstory_content_2 #content_2_textbox #content_2_textbox_inner h3{
    font-family: 'Noto Sans', sans-serif;
    font-size: 1rem;
    /* 20px; */
    color: #37494b;
    font-weight: 700;
    line-height: 1.25rem;
    /* 25px; */
    padding-bottom: 1.5rem;
    /* 30px; */
}
#brandstory_contents #brandstory_content_2 #content_2_textbox #content_2_textbox_inner p{
    font-family: 'Noto Sans', sans-serif;
    font-size: 0.55rem;
    /* 11px; */
    color: #666666;
    font-weight: 400;
    line-height: 0.9rem;
    /* 18px; */
}

#brandstory_contents #brandstory_content_3{
    background-color: #007a88;
    padding: 0 4.5rem;
    /* 0 90px; */
}
#brandstory_contents #brandstory_content_3 #content_3_textbox{
    width: 27%;
    padding: 6rem 0;
    /* 120px 0; */
    margin-right: 5%;
    float: left;
}
#brandstory_contents #brandstory_content_3 #content_3_textbox h3{
    font-family: 'Noto Sans', sans-serif;
    font-size: 1rem;
    /* 20px; */
    color: #fff;
    font-weight: 700;
    line-height: 1.25rem;
    /* 25px; */
    padding-bottom: 1.5rem;
    /* 30px; */
}
#brandstory_contents #brandstory_content_3 #content_3_textbox p{
    font-family: 'Noto Sans', sans-serif;
    font-size: 0.55rem;
    /* 11px; */
    color: #fff;
    font-weight: 400;
    line-height: 0.9rem;
    /* 18px; */
}
#brandstory_contents #brandstory_content_3 #content_3_img{
    width: 68%;
    height: 27.5rem;
    /* 550px; */
    background:url("../img/brandstory_content_3_img.png") no-repeat center;
    background-size: cover;
    float: right;
    position: relative;
    top: -6rem;
    /* -120px; */
}