.deep_sea_salt_bigbg{
    background: url("../img/ingredient_deepseasalt_cover.png") no-repeat center;
    background-size: cover;
}
.deep_sea_water_bigbg{
    background: url("../img/ingredient_deepseawater_cover.png") no-repeat center;
    background-size: cover;
}
.west_sea_mud_bigbg{
    background: url("../img/ingredient_westseamud_cover.png") no-repeat center;
    background-size: cover;
}
.salicornia_europaea_bigbg{
    background: url("../img/ingredient_salicorniaeuropaea_cover.png") no-repeat center;
    background-size: cover;
}
.artemisia_capillaris_bigbg{
    background: url("../img/ingredient_artemisiacapillaris_cover.png") no-repeat center;
    background-size: cover;
}
.kaolin_bigbg{
    background: url("../img/kaolin_big_bg.jpg") no-repeat center;
    background-size: cover;
}
.brown_algae_bigbg{
    background: url("../img/brown_algae_bg.jpg") no-repeat center;
    background-size: cover;
}



.deep_sea_salt_bg{
    background: url("../img/deep_sea_salt_bg.jpg") no-repeat center;
    background-size: cover;
}
.deep_sea_water_bg{
    background: url("../img/deep_sea_water_bg.jpg") no-repeat center;
    background-size: cover;
}
.seaweed_ferment_bg{
    background: url("../img/seaweed_ferment_bg.jpg") no-repeat center;
    background-size: cover;
}
.aha_salt_bg{
    background: url("../img/aha_salt_bg.jpg") no-repeat center;
    background-size: cover;
}
.protease_enzyme_bg{
    background: url("../img/protease_enzyme_bg.jpg") no-repeat center;
    background-size: cover;
}
.glycerin_and_squalane_bg{
    background: url("../img/glycerin_and_squalane_bg.jpg") no-repeat center;
    background-size: cover;
}
.agar_bg{
    background: url("../img/agar_bg.jpg") no-repeat center;
    background-size: cover;
}
.green_tea_water_bg{
    background: url("../img/green_tea_water_bg.jpg") no-repeat center;
    background-size: cover;
}
.white_clay_bg{
    background: url("../img/white_clay_bg.jpg") no-repeat center;
    background-size: cover;
}
.mud_bg{
    background: url("../img/mud_bg.jpg") no-repeat center;
    background-size: cover;
}
.salicornia_herbacea_bg{
    background: url("../img/salicornia_herbacea_bg.jpg") no-repeat center;
    background-size: cover;
}
.artemisia_capillaris_bg{
    background: url("../img/artemisia_capillaris_bg.jpg") no-repeat center;
    background-size: cover;
}
.glasswort_bg{
    background: url("../img/glasswort_bg.jpg") no-repeat center;
    background-size: cover;
}
.pearl_bg{
    background: url("../img/pearl_bg.jpg") no-repeat center;
    background-size: cover;
}
.oyster_bg{
    background: url("../img/oyster_bg.jpg") no-repeat center;
    background-size: cover;
}
.coconut_oil_bg{
    background: url("../img/coconut_oil_bg.jpg") no-repeat center;
    background-size: cover;
}
.kaolin_bg{
    background: url("../img/kaolin_bg.jpg") no-repeat center;
    background-size: cover;
}
.multi_vitamins_bg{
    background: url("../img/multi_vitamins_bg.jpg") no-repeat center;
    background-size: cover;
}
.ascophyllum_nodosum_bg{
    background: url("../img/ascophyllum_nodosum_bg.jpg") no-repeat center;
    background-size: cover;
}
.korean_west_sea_mud_bg{
    background: url("../img/korean_west_sea_mud_bg.jpg") no-repeat center;
    background-size: cover;
}
.tea_tree_oil_bg{
    background: url("../img/tea_tree_oil_bg.jpg") no-repeat center;
    background-size: cover;
}
.scrub_bg{
    background: url("../img/scrub_bg.jpg") no-repeat center;
    background-size: cover;
}
.balancing_emulsion_how_to_use{
    background: url("../img/balancing-emulsion-with-deep-sea-salt_subimg_1.jpg")no-repeat center;
    background-size: cover;
}
.calming_pure_water_how_to_use{
    background: url("../img/calming_pure_water_subimg_1.jpg")no-repeat center;
    background-size: cover;
}
.deep_cleansing_foam_how_to_use{
    background: url("../img/deep_cleansing_foam_subimg_1.jpg")no-repeat center;
    background-size: cover;
}
.deep_sea_waterfall_cream_how_to_use{
    background: url("../img/deep_sea_waterfall_cream_subimg_1.jpg") no-repeat center;
    background-size: cover;
}
.deep_sea_waterfall_toner_how_to_use{
    background: url("../img/deep_sea_waterfall_toner_subimg_1.jpg") no-repeat center;
    background-size: cover;
}
.facial_eraser_cleansing_balm_how_to_use{
    background: url("../img/facial_eraser_cleansing_balm_subimg_1.jpg") no-repeat center;
    background-size: cover;
}
.facial_eraser_cleansing_foam_how_to_use{
    background: url("../img/facial_eraser_cleansing_foam_subimg_1.jpg") no-repeat center;
    background-size: cover;
}
.facial_eraser_cleansing_oil_foam_how_to_use{
    background: url("../img/facial_eraser_cleansing_oil_foam_subimg_1.jpg")no-repeat center;
    background-size: cover;
}
.facial_eraser_cleansing_oil_how_to_use{
    background: url("../img/facial_eraser_cleansing_oil_subimg_1.jpg") no-repeat center;
    background-size: cover;
}
.facial_eraser_cleansing_water_how_to_use{
    background: url("../img/facial_eraser_cleansing_water_subimg_1.jpg") no-repeat center;
    background-size: cover;
}
.hot_melting_mud_mask_how_to_use{
    background: url("../img/hot_melting_mud_mask_subimg_1.jpg") no-repeat center;
    background-size: cover;
}
.hydrating_pulse_essence_lotion_how_to_use{
    background: url("../img/hydrating_pulse_essence_lotion_subimg_1.jpg")no-repeat center;
    background-size: cover;
}
.hydrating_pulse_toner_how_to_use{
    background: url("../img/hydrating_pulse_toner_subimg_1.jpg") no-repeat center;
    background-size: cover;
}
.hydro_peeling_cream_how_to_use{
    background: url("../img/hydro_peeling_cream_subimg_1.jpg") no-repeat center;
    background-size: cover;
}
.three_minute_clay_mask_how_to_use{
    background: url("../img/three_minute_clay_mask_subimg_1.jpg") no-repeat center;
    background-size: cover;
}
.true_ampoule_mask_how_to_use{
    background: url("../img/true_ampoule_mask_subimg_1.png") no-repeat center;
    background-size: cover;
}
.v5_facial_serum_how_to_use{
    background: url("../img/v5_facial_serum_subimg_1.jpg") no-repeat center;
    background-size: cover;
}




.balancing_emulsion_with_deep_sea_salt_sub{
    background: url("../img/balancing-emulsion-with-deep-sea-salt.png") no-repeat center;
    background-size: cover;
    transition: all .35s;
}
.deep_sea_waterfall_toner_sub{
    background: url("../img/deep-sea-waterfall-toner.png") no-repeat center;
    background-size: cover;
    transition: all .35s;
}
.hydro_peeling_cream_sub{
    background: url("../img/hydro-peeling-cream.png") no-repeat center;
    background-size: cover;
    transition: all .35s;
}
.facial_eraser_cleansing_water_sub{
    background: url("../img/facial-eraser-cleansing-water.png") no-repeat center; 
    background-size: cover;
    transition: all .35s;
}
.three_minute_clay_mask_sub{
    background: url("../img/3-minute-clay-mask.png") no-repeat center;
    background-size: cover;
    transition: all .35s;
}
.facial_eraser_cleansing_oil_foam_sub{
    background: url("../img/facial-eraser-cleansing-oil-foam.png") no-repeat center;
    background-size: cover;
    transition: all .35s;
}
.deep_sea_waterfall_cream_sub{
    background: url("../img/deep-sea-waterfall-cream.png") no-repeat center;
    background-size: cover;
    transition: all .35s;
}
.calming_pure_water_sub{
    background: url("../img/calming-pure-water.png")no-repeat center;
    background-size: cover;
    transition: all .35s;
}
.true_ampoule_mask_sub{
    background: url("../img/true-ampoule-mask.png") no-repeat center;
    background-size: cover;
    transition: all .35s;
}
.facial_eraser_cleansing_oil_sub{
    background: url("../img/facial-eraser-cleansing-oil.png") no-repeat center;
    background-size: cover; 
}
.facial_eraser_cleansing_foam_sub{
    background: url("../img/facial-eraser-cleansing-foam.png") no-repeat center;
    background-size: cover;
    transition: all .35s;
}
.v5_facial_serum_sub{
    background: url("../img/v5-facial-serum.png") no-repeat center;
    background-size: cover;
    transition: all .35s;
}
.hydrating_pulse_essence_lotion_sub{
    background: url("../img/hydrating-pulse-essence-lotion.png") no-repeat center; 
    background-size: cover;
    transition: all .35s;
}
.hydrating_pulse_toner_sub{
    background: url("../img/hydrating-pulse-toner.png") no-repeat center;
    background-size: cover;
    transition: all .35s;
}
.deep_cleansing_foam_sub{
    background: url("../img/deep-cleansing-foam.png") no-repeat center;
    background-size: cover;
    transition: all .35s;
}
.facial_eraser_cleansing_balm_sub{
    background: url("../img/facial-eraser-cleansing-balm.png") no-repeat center;
    background-size: cover;
    transition: all .35s;
}
.hot_melting_mud_mask_sub{
    background: url("../img/hot-melting-mud-mask.png") no-repeat center;
    background-size: cover;
    transition: all .35s;
}



li.balancing_emulsion_with_deep_sea_salt:hover .balancing_emulsion_with_deep_sea_salt_sub{
    background: url("../img/balancing-emulsion-with-deep-sea-salt_hover.png") no-repeat center;
    background-size: cover;
}
li.deep_sea_waterfall_toner:hover .deep_sea_waterfall_toner_sub{
    background: url("../img/deep-sea-waterfall-toner_hover.png") no-repeat center;
    background-size: cover;
}
li.hydro_peeling_cream:hover .hydro_peeling_cream_sub{
    background: url("../img/hydro-peeling-cream_hover.png") no-repeat center;
    background-size: cover;
}
li.facial_eraser_cleansing_water:hover .facial_eraser_cleansing_water_sub{
    background: url("../img/facial-eraser-cleansing-water_hover.png") no-repeat center; 
    background-size: cover;
}
li.three_minute_clay_mask:hover .three_minute_clay_mask_sub{
    background: url("../img/3-minute-clay-mask_hover.png") no-repeat center;
    background-size: cover;
}
li.facial_eraser_cleansing_oil_foam:hover .facial_eraser_cleansing_oil_foam_sub{
    background: url("../img/facial-eraser-cleansing-oil-foam_hover.png") no-repeat center;
    background-size: cover;
}
li.deep_sea_waterfall_cream:hover .deep_sea_waterfall_cream_sub{
    background: url("../img/deep-sea-waterfall-cream_hover.png") no-repeat center;
    background-size: cover;
}
li.calming_pure_water:hover .calming_pure_water_sub{
    background: url("../img/calming-pure-water_hover.png")no-repeat center;
    background-size: cover;
}
li.true_ampoule_mask:hover .true_ampoule_mask_sub{
    background: url("../img/true-ampoule-mask_hover.png") no-repeat center;
    background-size: cover;
}
li.facial_eraser_cleansing_oil:hover .facial_eraser_cleansing_oil_sub{
    background: url("../img/facial-eraser-cleansing-oil_hover.png") no-repeat center;
    background-size: cover; 
}
li.facial_eraser_cleansing_foam:hover .facial_eraser_cleansing_foam_sub{
    background: url("../img/facial-eraser-cleansing-foam_hover.png") no-repeat center;
    background-size: cover;
}
li.v5_facial_serum:hover .v5_facial_serum_sub{
    background: url("../img/v5-facial-serum_hover.png") no-repeat center;
    background-size: cover;
}
li.hydrating_pulse_essence_lotion:hover .hydrating_pulse_essence_lotion_sub{
    background: url("../img/hydrating-pulse-essence-lotion_hover.png") no-repeat center; 
    background-size: cover;
}
li.hydrating_pulse_toner:hover .hydrating_pulse_toner_sub{
    background: url("../img/hydrating-pulse-toner_hover.png") no-repeat center;
    background-size: cover;
}
li.deep_cleansing_foam:hover .deep_cleansing_foam_sub{
    background: url("../img/deep-cleansing-foam_hover.png") no-repeat center;
    background-size: cover;
}
li.facial_eraser_cleansing_balm:hover .facial_eraser_cleansing_balm_sub{
    background: url("../img/facial-eraser-cleansing-balm_hover.png") no-repeat center;
    background-size: cover;
}
li.hot_melting_mud_mask:hover .hot_melting_mud_mask_sub{
    background: url("../img/hot-melting-mud-mask_hover.png") no-repeat center;
    background-size: cover;
}

#product_sub_info #sub_info_productlist ul li:hover .sub_info_product_text h3{
    color: #007a88;
}